In [1]:
import pandas as pd

In [3]:
import seaborn as sns

In [4]:
tips = sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [7]:
flights  = sns.load_dataset('flights')
flights

     year month  passengers
0    1949   Jan         112
1    1949   Feb         118
2    1949   Mar         132
3    1949   Apr         129
4    1949   May         121
..    ...   ...         ...
139  1960   Aug         606
140  1960   Sep         508
141  1960   Oct         461
142  1960   Nov         390
143  1960   Dec         432

[144 rows x 3 columns]

In [9]:
iris = sns.load_dataset('iris')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
titans = pd.read_csv('train.csv')
titans

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
pip install pandas-profiling

Requirement already satisfied: pandas-profiling in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (3.6.6)
Requirement already satisfied: ydata-profiling in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from pandas-profiling) (4.16.1)
Requirement already satisfied: scipy<1.16,>=1.4.1 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling->pandas-profiling) (1.15.2)
Requirement already satisfied: pandas!=1.4.0,<3.0,>1.1 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling->pandas-profiling) (2.2.3)
Requirement already satisfied: matplotlib<=3.10,>=3.5 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling->pandas-profiling) (3.10.0)
Requirement already satisfied: pydantic>=2 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling->pandas-profiling) (2.11.4)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling->pandas-profiling) (6.0.2)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling->pandas-profiling) (3.1.6)
Requirement already satisfied: visions<0.8.2,>=0.7.5 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling->pandas-profiling) (0.8.1)
Requirement already satisfied: numpy<2.2,>=1.16.0 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling->pandas-profiling) (2.1.3)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling->pandas-profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling->pandas-profiling) (0.12.4)
Requirement already satisfied: requests<3,>=2.24.0 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling->pandas-profiling) (2.32.3)
Requirement already satisfied: tqdm<5,>=4.48.2 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling->pandas-profiling) (4.67.1)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling->pandas-profiling) (0.13.2)
Requirement already satisfied: multimethod<2,>=1.4 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling->pandas-profiling) (1.12)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling->pandas-profiling) (0.14.4)
Requirement already satisfied: typeguard<5,>=3 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling->pandas-profiling) (4.4.2)
Requirement already satisfied: imagehash==4.3.1 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling->pandas-profiling) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.3 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling->pandas-profiling) (1.9.4)
Requirement already satisfied: dacite>=1.8 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling->pandas-profiling) (1.9.2)
Requirement already satisfied: numba<=0.61,>=0.56.0 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling->pandas-profiling) (0.61.0)
Requirement already satisfied: PyWavelets in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from imagehash==4.3.1->ydata-profiling->pandas-profiling) (1.8.0)
Requirement already satisfied: pillow in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from imagehash==4.3.1->ydata-profiling->pandas-profiling) (11.2.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling->pandas-profiling) (3.0.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling->pandas-profiling) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling->pandas-profiling) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling->pandas-profiling) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling->pandas-profiling) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling->pandas-profiling) (25.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling->pandas-profiling) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling->pandas-profiling) (2.9.0.post0)
Requirement already satisfied: llvmlite<0.45,>=0.44.0dev0 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from numba<=0.61,>=0.56.0->ydata-profiling->pandas-profiling) (0.44.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from pandas!=1.4.0,<3.0,>1.1->ydata-profiling->pandas-profiling) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from pandas!=1.4.0,<3.0,>1.1->ydata-profiling->pandas-profiling) (2025.2)
Requirement already satisfied: joblib>=0.14.1 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling->pandas-profiling) (1.5.0)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from pydantic>=2->ydata-profiling->pandas-profiling) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from pydantic>=2->ydata-profiling->pandas-profiling) (2.33.2)
Requirement already satisfied: typing-extensions>=4.12.2 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from pydantic>=2->ydata-profiling->pandas-profiling) (4.13.2)
Requirement already satisfied: typing-inspection>=0.4.0 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from pydantic>=2->ydata-profiling->pandas-profiling) (0.4.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling->pandas-profiling) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling->pandas-profiling) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling->pandas-profiling) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling->pandas-profiling) (2025.1.31)
Requirement already satisfied: patsy>=0.5.6 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling->pandas-profiling) (1.0.1)
Requirement already satisfied: colorama in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from tqdm<5,>=4.48.2->ydata-profiling->pandas-profiling) (0.4.6)
Requirement already satisfied: attrs>=19.3.0 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling->pandas-profiling) (25.3.0)
Requirement already satisfied: networkx>=2.4 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling->pandas-profiling) (3.4.2)
Requirement already satisfied: puremagic in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling->pandas-profiling) (1.29)
Requirement already satisfied: six>=1.5 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from python-dateutil>=2.7->matplotlib<=3.10,>=3.5->ydata-profiling->pandas-profiling) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install ydata-profiling

Requirement already satisfied: ydata-profiling in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (4.16.1)
Requirement already satisfied: scipy<1.16,>=1.4.1 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling) (1.15.2)
Requirement already satisfied: pandas!=1.4.0,<3.0,>1.1 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling) (2.2.3)
Requirement already satisfied: matplotlib<=3.10,>=3.5 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling) (3.10.0)
Requirement already satisfied: pydantic>=2 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling) (2.11.4)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling) (6.0.2)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling) (3.1.6)
Requirement already satisfied: visions<0.8.2,>=0.7.5 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (0.8.1)
Requirement already satisfied: numpy<2.2,>=1.16.0 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling) (2.1.3)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling) (0.12.4)
Requirement already satisfied: requests<3,>=2.24.0 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling) (2.32.3)
Requirement already satisfied: tqdm<5,>=4.48.2 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling) (4.67.1)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling) (0.13.2)
Requirement already satisfied: multimethod<2,>=1.4 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling) (1.12)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling) (0.14.4)
Requirement already satisfied: typeguard<5,>=3 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling) (4.4.2)
Requirement already satisfied: imagehash==4.3.1 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.3 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling) (1.9.4)
Requirement already satisfied: dacite>=1.8 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling) (1.9.2)
Requirement already satisfied: numba<=0.61,>=0.56.0 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from ydata-profiling) (0.61.0)
Requirement already satisfied: PyWavelets in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (1.8.0)
Requirement already satisfied: pillow in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (11.2.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (3.0.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (25.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (2.9.0.post0)
Requirement already satisfied: llvmlite<0.45,>=0.44.0dev0 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from numba<=0.61,>=0.56.0->ydata-profiling) (0.44.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from pandas!=1.4.0,<3.0,>1.1->ydata-profiling) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from pandas!=1.4.0,<3.0,>1.1->ydata-profiling) (2025.2)
Requirement already satisfied: joblib>=0.14.1 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.5.0)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from pydantic>=2->ydata-profiling) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from pydantic>=2->ydata-profiling) (2.33.2)
Requirement already satisfied: typing-extensions>=4.12.2 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from pydantic>=2->ydata-profiling) (4.13.2)
Requirement already satisfied: typing-inspection>=0.4.0 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from pydantic>=2->ydata-profiling) (0.4.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2025.1.31)
Requirement already satisfied: patsy>=0.5.6 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (1.0.1)
Requirement already satisfied: colorama in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from tqdm<5,>=4.48.2->ydata-profiling) (0.4.6)
Requirement already satisfied: attrs>=19.3.0 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (25.3.0)
Requirement already satisfied: networkx>=2.4 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (3.4.2)
Requirement already satisfied: puremagic in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (1.29)
Requirement already satisfied: six>=1.5 in c:\users\ushad\anaconda3\envs\tf-env\lib\site-packages (from python-dateutil>=2.7->matplotlib<=3.10,>=3.5->ydata-profiling) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
from ydata_profiling import ProfileReport
prof = ProfileReport(titans)
prof.to_file(output_file='titans.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 12/12 [00:00<00:00, 70.30it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [10]:
tips_prof = ProfileReport(tips)
tips_prof.to_file(output_file='tips.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 7/7 [00:00<00:00, 470.36it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [11]:
flights_prof = ProfileReport(flights)
flights_prof.to_file(output_file = 'flights.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 3/3 [00:00<00:00, 725.41it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [12]:
iris_prof = ProfileReport(iris)
iris_prof.to_file(output_file = 'iris.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 5/5 [00:00<00:00, 83.71it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# titans

In [13]:
titans.shape

(891, 12)

In [14]:
titans.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
titans.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
619,620,0,2,"Gavey, Mr. Lawrence",male,26.0,0,0,31028,10.5000,NaN,S
623,624,0,3,"Hansen, Mr. Henry Damsgaard",male,21.0,0,0,350029,7.8542,NaN,S
408,409,0,3,"Birkeland, Mr. Hans Martin Monsen",male,21.0,0,0,312992,7.7750,NaN,S

In [16]:
titans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [17]:
titans.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [19]:
titans.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [20]:
titans.duplicated().sum()

np.int64(0)